em {
  background: cyan;
  font-style: normal;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100px;
  padding: 0.5rem 1rem;
  background-image: url(./images/field3.jpg);
  color: #fff;
  margin-bottom: 1rem;
}

.header a {
  color: #fff;
  text-decoration: none;
}

.header-title {
  font-size: 4.5rem;
  font-weight: normal;
  padding-right: 2%;
}

/* .header-title::after {
  content: ' ▸ ';
  padding: 0 0.5rem;
} */

.fb-clipart {
  max-height: 80px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

.search-panel {
  display: flex;
  max-width: 85%;
  min-width: 85%;
  margin-right: -5%;
}

.search-panel__filters {
  flex: 1;
}

.search-panel__results {
  text-align: center;
  flex: 3;
}

.searchbox {
  margin-bottom: 2rem;
}

.pagination {
  margin: 2rem auto;
  text-align: center;
}

.player-card {
  text-align: center;
}

.ais-Hits-item {
  border: 2px solid black;
}

.ais-Hits-list {
  display: flex;
  justify-content: center;
}
